.main{
	&-container{
		width: 980px;
		max-width: 1012px;
		box-sizing: border-box;
		position: relative;
		min-height: 400px;
		left: 50%;
		-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
		transform:translateX(-50%);
		margin-top: 25px;
		border:0;
		border-bottom: 1px #e1e4e8 solid;
		padding-bottom: 55px;
  }
}