.main-right{
	&-main{
		&-projects{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			list-style: none;
		}
		&-overviewProject{
			width: 359px;
			padding:16px;
			box-sizing: border-box;
			margin-bottom: 16px;
			border:1px #d1d5da solid;
			border-radius: 3px;
			word-break: break-all;
			&-itemWrapper{
				line-height: 17px;
			}
			&-name{
				display: inline-block;
				color: #0366d6;
				text-decoration: none;
				font-weight: 600!important;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
			&-des{
				color: #586069!important;
				font-size: 12px;
				margin-top: 8px;
				margin-bottom: 16px
			}
			&-tags{
				color: #586069;
				margin-right: 5px;
			}
		}
	}
}