.main-right{
	&-container{
		width: 75%;
		padding-left: 8px;
		box-sizing: border-box;
	}
	&-nav{
		background-color: #fff;
		border-bottom: 1px solid #d1d5da;
		color: #586069;
	}
	&-item{
		border-bottom: 2px solid transparent;
		font-size: 14px;
		line-height: 1.5;
		margin-right: 16px;
		padding: 16px 8px;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		&-counter{
			background-color: rgba(27,31,35,.08);
			border-radius: 20px;
			color: #586069;
			display: inline-block;
			font-size: 12px;
			font-weight: 600;
			line-height: 1;
			padding: 2px 5px;
			margin-left: 3px
		}
	}
	&-main{
		width: 100%;
		min-height: 100px;
		background-color: #fff;
		margin-top: 24px;
		box-sizing: border-box;
		&-title{
			font-weight: 400!important;
			margin-bottom: 8px!important;
			font-size: 16px;
		}
	}
}
.navActie{
	border-bottom-color: #e36209;
	color: #24292e;
	font-weight: 600;
}
.itemW{
	display: flex;
	align-items: center;
}